[submodule "Library/glfw"]
	path = Library/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Library/glad"]
	path = Library/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "Library/DirectXShaderCompiler"]
	path = Library/DirectXShaderCompiler
	url = https://github.com/microsoft/DirectXShaderCompiler.git
[submodule "Library/spdlog"]
	path = Library/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Library/xxhash"]
	path = Library/xxhash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "Library/fmt"]
	path = Library/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "Library/rpmalloc/src"]
	path = Library/rpmalloc/src
	url = https://github.com/mjansson/rpmalloc.git
